@import "tailwindcss";

/* Enable Dark Mode class strategy */
@custom-variant dark (&:where(.dark, .dark *));

/* Theme Variables */
@layer base {
    :root {
        --editor-bg: #fdf6e3;
        --editor-text: #657b83;
        --main-text: #1a202c;
        /* Dark text for light mode */
    }

    .dark {
        --editor-bg: #282c34;
        --editor-text: #abb2bf;
        --main-text: #f7fafc;
        /* Light text for dark mode */
    }

    body {
        /* Apply the variable to the whole body */
        color: var(--main-text);
        @apply antialiased m-0 p-0 bg-white dark:bg-gray-900 transition-colors duration-300;
    }
}

/* Force the markdown text to follow the theme */
.prose {
    color: inherit !important;
}

/* Code Editor Styling */
.npm__react-simple-code-editor__textarea {
    outline: none !important;
    font-family: 'Fira Code', 'Fira Mono', monospace !important;
}

/* Custom Scrollbar for a "Code Editor" look */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-700 rounded-full;
}